<footer class="jumbotron bg-secondary pb-0 mb-0">
  <div class="container">
    <div class="row pb-5 text-center">
      <div class="col-12">
        <h5>
          Want more informations? feel free to <a class="btn-link px-2" href="#">contact me</a> at anytime.
        </h5>
      </div>
    </div>
    <div class="row pb-5 d-flex justify-content-center">
      <div class="col-2 offset-1">
        <a class="text-white" href="#">
          <fa-icon class="fa-3x" [icon]="faFacebook"></fa-icon>
        </a>
      </div>
      <div class="col-2">
        <a class="text-white" href="#">
          <fa-icon class="fa-3x" [icon]="faInstagram"></fa-icon>
        </a>
      </div>
      <div class="col-2">
        <a class="text-white" href="#">
          <fa-icon class="fa-3x" [icon]="faLinkedin"></fa-icon>
        </a>
      </div>
      <div class="col-2">
        <a class="text-white" href="#">
          <fa-icon class="fa-3x" [icon]="faWhatsapp"></fa-icon>
        </a>
      </div>
      <div class="col-2">
        <a class="text-white" href="#">
          <fa-icon class="fa-3x" [icon]="faEnvelope"></fa-icon>
        </a>
      </div>
    </div>
    <div class="row">
      <div class="col-12">
        <p class="small mt-2">
          copyright© 2018 All rights reserved
          <span class="float-right">Website created by <a href="">Nicola D'Aniello</a></span>
        </p>
      </div>
    </div>
  </div>
</footer>