/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/scss/bootstrap.scss';
@import url(https://fonts.googleapis.com/css?family=Montserrat);

html, body {
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
}
a { cursor: pointer; }

h2.heading-title {
    display:inline-block;
    box-shadow: 0 25px 0 -23px $primary;
}

h2.heading-title + p {
    margin-top: 1.5rem;
}

.bg-secondary {
    color: $light;
}
.bg-secondary h1,
.bg-secondary h2,
.bg-secondary h3,
.bg-secondary h4,
.bg-secondary h5,
.bg-secondary h6 {
    color: $light;
}

.img {
    width: 100%;
    height: 300px;
    background-color: #333;
}

.row.scrollable {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}


/* scroll down mouse animation */
@keyframes scroll {
	0% {
		transform: translateY(0);
	}
	30% {
		transform: translateY(60px);
	}
}

svg #wheel {
	animation: scroll ease 2s infinite;
}

// Default stuff.
*,
*::before,
*::after {
	box-sizing: border-box;
	-webkit-backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
}
/* end scroll down mouse animation */